body{
	font-family: Georgia Regular, sans-serif;
	padding: 0;
	margin: 0;
	p{
		padding: 0;
		margin: 0;
	}
	div{
	box-sizing: border-box;
	}
	h3{
		margin: 0;
		padding: 0;
	}
}
.clearfix:after{
		content: '';
		display: table;
		width: 100%;
		clear: both;
	}
header{
	height: 130px;
	background-color: #27292f;
}
.container{
	width: 960px;
	margin: 0 auto;
}
.logo{
	color: #fff;
	font-size: 36px;
	text-transform: uppercase;
	padding-top: 25px;
	float: left;
	#text{
		font-size: 12px;
		text-transform: none;
	}
}
nav{
	float: right;
}
.search-form{
	width: 200px;
	margin-top: 23px;
	margin-left: 370px;
}
.search-form input#search{
	width: 200px;
	height: 25px;
	background: #1f232c;
	border: none;
	border-radius:10px;
	padding-left: 10px;
	font-size: 12px;
	color: #cccccc;
}
.search-form .icon{
	position: absolute;
 	font-size: 12px;
 	margin-left: 175px;
 	margin-top: 5px;
  	color: #85878c;
}
.nav-menu{
	margin-top: 15px;
}
.menu{
	padding: 0;
	margin: 0;
	display: block;
}
.menu li{
	display: block;
	float: left;
}
.menu li a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	margin-left: 25px;
}
.main-background{
	background-color: #333;
	height: 550px;
	display: block;
	text-align: center;
	.text{
		padding-top: 200px;
		color: #fff;
		font-size: 14px;
	}
}
.contacts{
	background-color: #e7e7e7;
	height: 153px;
	border-bottom: 7px solid #dadada;
	.contacts-text{
		font-size: 32px;
		float: left;
		display: block;
		padding-top: 40px;
	}
	.contacts-button{
		float: right;
 		display: block;
 		margin-top: 65px;
 		a.button{
 			color: #e1dada;
 			text-decoration: none;
 			background: #1f232c;
 			padding: 20px 15px;
 			font-size: 26px;
 			border-radius: 10px;
 			text-transform: uppercase;
 		}
	}
}
.services{
	height: 180px; 
	display: block;
	margin-top: 80px;
}
.services-item{
	float: left;
}
.services-item p{
	font-size: 13px;
	color: #979797;
	margin-top: 10px;
	line-height: 1.5;
}
.services-item a{
	font-size: 20px;
	border-bottom: 3px solid #1f232c;
}
.services-item:nth-child(2){
	margin-left: 35px;
}
.services-item:nth-child(3){
	margin-left: 45px;
}
.services-item:nth-child(4){
	margin-left: 35px;
}
.services-item:nth-child(5){
	margin-left: 45px;
}
.services-item:nth-child(6){
	float: right;
}
.services2{
	height: 585px;
	p{
		font-size: 14px;
		color: #979797;
	}
	h3{
		font-size: 14px;
		color: #1f212c;
	}
}
.title {
    /* Прячем часть линий, выходящие за пределы блока */
    overflow: hidden;
    /* Выравниваем заголовок по центру, можно указать left, right для выравнивания влево или вправо */
    text-align: center;
    /* Размер заголовка */
    font-size: 25px;
    margin-bottom: 45px;
}
.title:before,
.title:after {
    /* Свойство content необходимо указывать хотя бы пустое, иначе псевдоэлементы не отобразятся */
    content: "";
    /* Свойства линий, выравнивание по центру по вертикали */
    display: inline-block;
    vertical-align: middle;
    /* Ширина - 100% и указываем толщину линии */
    width: 100%;
    height: 2px;
    /* Цвет линии */
    background-color: #1f232c;
    /* Возможность для пседоэлементов изменить позицию линии */
    position: relative;
}
.title:before {
    /* Ставим левую линию слева от текста, смещая ее на 100% влево */
    margin-left: -100%;
    /* Отступ линии от заголовка */
    left: -14px;
}
.title:after {
    /* Ставим правую линию справа от текста, смещая ее на 100% вправо */
    margin-right: -100%;
    /* Отступ линии от заголовка */
    right: -14px;
}
.services-item2{
	float: left;
	text-align: center;
	.services-text{
		background-color: #dadada;
		margin-bottom: 30px;
	}
}
.services-item2:nth-child(2){
	margin-right: 37px; 
}
.services-item2:nth-child(3){
	float: right;
}
.services-item2:nth-child(4){
	float: left;
}
.services-item2:nth-child(5){
	margin-right: 37px
}
.services-item2:last-child{
	float: right;
}
aside{
	background-color: #eeeeee;
	height: 275px;
}
.aside-item{
	padding-top: 50px;
	float: left;
	h3{
		font-size: 18px;
		color: #2c2c2c;
	}
	p{
		font-size: 12px;
		line-height: 1.5;
		color: #7c7c7c;
	}
}
.text1{
	margin-top: 30px;
}
.text2{
	margin-top: 15px;
}
.aside-item:nth-child(2){
	margin-left: 75px;
	.link-text{
		margin-top: 25px;
		p{
			font-size: 12px;
			border-bottom: 1px solid #c4c4c4;
			color: #1f232c;
			line-height: 2.5;
		}
	}
}
.aside-item:nth-child(3){
	margin-left: 110px;
	.blog-text{
		line-height: 1.5;
		h3{
			font-size: 13px;
		}
		time{
			font-size: 11px;
		}
		margin-top: 30px;
	}
}
.aside-item:last-child{
	float: right;
	width: 240px;
	display: block;
	.input-form{
		margin-top: 20px;
	}
	input{
		width: 240px;
		height: 30px;
		margin-top: 10px;
		padding-left: 10px;
		border-radius: 5px;
		border: none;
	}
}
.aside-button{
	float: left;
 	display: block;
 	margin-top: 20px;
 	a.button{
	 	color: #e1dada;
	 	text-decoration: none;
	 	background: #1f232c;
	 	padding: 10px 15px; /* отступ от текста */
	 	font-size: 13px;
	 	border-radius: 5px;
	 	text-transform: uppercase;
 	}
}
footer{
	height: 60px;
	background-color: #1f232c;
	p{
		padding-top: 25px;
		color: #737373;
		float: left;
	}
	a{
		text-decoration: none;
		padding-top: 25px;
		color: #737373;
		float: right;
	}
}